[Unit]
Description=Jupyter Notebook legacy (env: jn-genomics)
After=network.target

[Service]
Type=simple
ExecStart=%h/bin/jn-genomics --no-browser --ip=127.0.0.1 --port=8887
WorkingDirectory=%h
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
