[Unit]
Description=JupyterLab (env: jlab)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/bin/jlab \
  --no-browser \
  --ip=127.0.0.1 \
  --port=8888 \
  --ServerApp.root_dir=%h
WorkingDirectory=%h
Environment=PYTHONUNBUFFERED=1
KillSignal=SIGINT
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
