# Ignore everything
/*

# But not these files...

!/.gitignore

# user bin
!/.local/
/.local/*
!.local/bin
/.local/bin/*

# teamocil yaml files
!/.teamocil/

# bash and zsh
!/.bashrc
!/.bash_aliases
!/.bash_goodies
!/.zshrc

# git
/git-completion.bash
/git-prompt.sh

# vim
!/.vimrc

# tmux
!/.tmux.conf

# thyme integration
!/.thymerc

# direnv
!/.config/direnv/direnvrc
