# Ignore everything
/*

# But not these files...

!/.gitignore

# cookiecutters
!/.cookiecutterrc

# bash and zsh
!/.bashrc
!/.bash_aliases
!/.zshrc
!/.zprofile

# git
/.gitconfig

# vim
!/.vimrc

# tmux
!/.tmux.conf

# thyme integration
!/.thymerc

#
# config folfer
#

# git
!/.config/git/ignore


# direnv
!/.config/direnv/direnvrc
